 body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 5p;
	margin: 0;
	background-color: #f4f4f4;
 }
 
 /*global*/
 .container{
	 width: 80%;
	 margin: auto;
	 overflow: hidden;
 }


h2 a {
	text-decoration: none;
	color: #000000;
	padding-right: 50px;
	text-align: left;
}
 
h3 a {
	text-decoration: none;
	color: #000000;
}
 
ul{
	 margin: 0;
	 padding: 0;
 }
 
 .button_1{
	 height: 37px;
	 background: #e8491d;
	 border: 0;
	 padding-left: 20px;
	 padding-right: 20px;
	 color: #ffffff;
 }
 
 .dark{
	 padding: 15px;
	 background: #35424a;
	 color: #ffffff;
	 margin-top: 10px;
	 margin-bottom: 10px;
 }
 
 /*header*/
 header{
	 background-color: #35424a;
	 color: #ffffff;
	 padding-top: 30px;
	 min-height: 70px;
	 border-bottom: #e8491d 3px solid;
 }
 
 header a{
	 color: #ffffff;
	 text-decoration: none;
	 text-transform: uppercase;
	 font-size: 16px;
 }
 
 header li{
	 float: left;
	 display: inline;
	 padding: 0 20px 0 20px;
 }
 
 header #branding{
	 float: left;
 }
 
 header #branding h1{
	 margin: 0;
 }
 
 header nav{
	 float: right;
	 margin-top: 10px;
 }
 
 header .highlight, header .current a{
	 color: #e8491d;
	 font-weight: bold;
 }
 
 header a:hover{
	 color: #cccccc;
	 font-weight: bold;
 }
 
 /*showcase*/
 #showcase {
	 min-height: 400px;
	 background-image: url('img/bg1.png') no-repeat 0;
	 text-align: center;
	 color: #ffffff;
 }
 
 #showcase h1{
	 margin-top: 100px;
	 font-size: 55px;
	 margin-bottom: 10px;
 }
 
 #showcase p{
	 font-size: 20px;
 }
 
 /*newsletter*/
 #newsletter{
	 padding: 15px;
	 color: #ffffff;
	 background: #35424a;
 }
 
 #newsletter h1{
	 float: left;
 }
 
 #newsletter form{
	 float: right;
	 margin-top: 20px;
 }
 
 #newsletter input[type="email"]{
	 padding: 4px;
	 height: 25px;
	 width: 250px;
 }

/*Wrapper*/

#wrapper {
	width: 780px;
	margin: 0;
	float: left;
	overflow: hidden;
	height: 100%;
}

 /*Article*/

#daftar-artikel {
	width: 470px;
	float: left;
	margin: 50px 50px 50px 110px;
}
.artikel {
	background: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}
.artikel img {
	float: left;
	margin-right: 10px;
	width: 200px;
	height: 165px
}

.artikel b {
	color: #616060;
	background: #DDDDDD;
	padding: 3px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
}

.artikel p {
	margin: 5px 0;
}

.artikel a {
	display: block;
	text-align: right;
	color: #636363;

}

 /*Sidebar*/

.top-sidebar{
	width: 25%;
	float: left;
	background-color: #ebe9e9;
	border-radius: 5px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 5px;
	margin: 4% 1% 2% 3%;
	padding: 1% 3% 1% 2.3%;
}

.middle-sidebar{
	width: 25%;
	float: left;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 1% 4% 1% 1%;
}

.bottom-sidebar{
	width: 25%;
	float: left;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 1% 4% 1% 1%;
}

.middle-sidebar ul {
	margin-left: 30px;
}

.middle-sidebar ul li a {
	color: #0000ff;
	padding: 6px 0;
	text-decoration: none;
}

.bottom-sidebar ul {
	margin-left: 30px;
}

.bottom-sidebar ul li a {
	color: #0000ff;
	padding: 6px 0;
	text-decoration: none;
}

/*Sidebar*/
aside#sidebar{
	float: right;
	margin-top: 10px;
	width: 30%;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}

/* Main-col */
article#main-col{
	float:left;
	width: 65%;
}

/*Boxes*/
#boxes{
	margin-top: 22px;

}

#boxes .box{
	float: left;
	text-align: left;
	width: 30%;
	padding: 10px 5px 0 5px;
	margin-bottom: 0;
}

#boxes .box img{
	width: 140px;
	float: left;
	margin-left: 2px;
	padding: 21px 5px 0 0;
}

#boxes .box p{
	font-size: 12px;
	padding: 1px 1px;
	margin: 1px 1px;
}

#boxes .box b {
	color: #616060;
	background: #DDDDDD;
	padding: 1px;
	font-size: 10px;
	font-weight: bold;
	margin-top: 1px;

}
#footer {
	clear: both;
	margin: 20px 0;
	text-align: center;
	background-color:#000000;
	padding:5px;
	color:#ffffff; 
}

/* Media */
@media(max-width: 980px;){
	header #branding,
	header nav,
	header nav li, 
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar, .top-sidebar,
	.middle-sidebar, .bottom-sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	
	header{
		padding-bottom: 20px;
	}
	
	#showcase h1{
		margin-top: 40px;
	}
	
	#newsletter button, .quotes button{
		display: block;
		width: 100%;
	}
	
	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}


	.top-sidebar{
		width: 94%;
		margin: 2% 0 2% 0%;
		padding: 2% 3%;
	}

	.middle-sidebar{
		width: 94%;
		margin: 2% 0 2% 0%;
		padding: 2% 3%;
	}

	.bottom-sidebar{
		width: 94%;
		margin: 2% 0 2% 0%;
		padding: 2% 3%;
	}
}
